@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    background-color: #222222;

}

.title,
.lower-title {
    margin: 0;
}

header {
    margin: 0 auto 0 auto;
    width: 425px;
    background-color: #383838;
    border-bottom: 1px solid white ;
}

main {
    background: #2e2e2e;
    margin: 0 auto;
    width: 425px;
    padding-bottom: 15px;
}

header,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    padding:10px;
    width: 425px;
}


label {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 5px;
    align-self: center;
}

input {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 10px 15px;
    color: whitesmoke;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;

    width: 340px;
    align-self: center;

}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    width: 125px;
    align-self: center;


    color: whitesmoke;
    font-weight: 600;
    background-color: rgb(71, 87, 122);
    border: 1px solid white;
    border-radius: 15px;
    
    transition: 0.2s;
}

.btn:hover {
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}

.legend {
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
}

.output-field-container {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px;
    width: 125px;
    height: 40px;
    
}

.output-text {
    color: white;
    margin: 0;
    padding: 5px;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.informations {
    width: 400px;
}

.warning {
    color: whitesmoke;
    font-size: 1.25rem;
    text-shadow: 0px 0px 0px white;
    text-align: center;

    text-decoration: underline;
}